/**************** NAVBAR ************************/
p, h1, h2, h3, h4, h5, h6, button{
	font-family: 'Assistant', sans-serif;
}

h1, h2, h3, h4, h5, h6{
	font-weight: bold;
}

#navBar{
	background: rgba(0, 0, 0, 0);
	padding: 30px 20px;
	margin: 0;
	position: fixed;
	width: 100%!important;
}

#navBar{	
	// Animation       
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

#navBar .icon-bar{
	background-color: #5b864f;
}

#collapsibleButton{
	background: none;
	margin-top: 15px;
	border-color: #5b864f;
}

#navBarCollapsibleOptions li.active{
	text-shadow: -1px 0 0 currentColor, .5px 0 0 currentColor;
}

#navBarCollapsibleOptions li{
	
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.greenNavBar{
	background: rgba(255, 255, 255, 1)!important;
}

.greenNavBar *{
	color: #28a745!important;
}

.navbar-nav li{
	padding: 0 1em;
	font-weight: lighter;
	font-size: 0.95em;
	font-family: 'Lato', sans-serif;
}

/*********************************************/

.btn{
	background-color: white;
    border-radius: 25px;
    padding: 10px 50px;
	color: #4cae4c;
}

.block{
	/*padding		 : 150px;*/
	padding-top: 100px;
	padding-bottom: 50px;
	background-color: white;
}


footer {
	background: #333333;
	color: white;
	padding-top: 50px;
	padding-bottom: 50px;
}

footer p{
	color: darkgray;
}

#map{
	height: 500px;
}