/**************** NAVBAR ************************/
#navBar{
	background: rgba(0, 0, 0, 0);
	padding: 20px;/*2%;*/
	border-radius: 0px;
	margin-bottom: 0px;	
	border: none;		
	position: sticky;
	top: -1px;
	z-index: 100;
}

#navBar *{
	color: #5b864f;
}

#navBar, #navBarHeader, #collapsibleOptions{	
   // Animation
   -webkit-transition: all 0.4s ease;
   transition: all 0.4s ease;
}

#collapsibleOptions{
	width: fit-content;
	font-size: medium;
}

#navBar .icon-bar{
	background-color: #5b864f;
}

#collapsibleButton{
	background: none;
	margin-top: 15px;
	border-color: #5b864f;
}

#collapsibleOptions a:hover, 
#collapsibleOptions a:focus{
	background-color: transparent;
}

/*********************************************/

.block{
	text-align	 : center;
	/*padding		 : 150px;*/
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: white;
}


footer {
	background: #333333;
	color: white;
	padding-top: 50px;
	padding-bottom: 50px;
}

footer p{
	color: darkgray;
}
