
body{
	 /* The image used */
    background: linear-gradient( rgba(0,0,0,0.6), rgba(0, 0, 0, 0.65) ),
				url("../assets/images/temp/buildings.jpg");


    /* Set a specific height */
    height: -webkit-fill-available; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section{
	padding-bottom: 50px;
}

#mainLogo > h3{
	color: white;
	border-bottom: white solid;
	margin-top: 50px;
	margin-bottom: 50px;
}

#mainLogo *{
	width: fit-content;
    margin: 0 auto;
    text-align: center;
}

#vbi{
	background-image: linear-gradient( rgba(0,0,0,0), rgba(0, 0, 0, 0.3) ),
					  url("../assets/images/c-NKG1.png");
    background-position-x: 20%;
}

#vc{
	background-image: linear-gradient( rgba(0,0,0,0), rgba(0, 0, 0, 0.3) ),
					  url("../assets/images/new-images/10.jpg");
    background-size: 290%;
    background-position-x: 60%;
    background-position-y: 30%;
}

#vqo{
    background-image: linear-gradient( rgba(0,0,0,0), rgba(0, 0, 0, .5) ), url(../assets/images/ACBEL1.jpg);
    background-size: 170%;
    background-position: inherit;
}

a:hover{
	text-decoration: none;
}

.bannerCells:hover{
	box-shadow: 0 0 20px 3.5px black;
}

.bannerCells{
	background-color: black;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
	width: 100%;
	text-align: center;
	display: table;
	border: black solid;
	
	box-shadow: 0 0 20px .5px black;
	
	// Animation       
	-webkit-transition: all .5s ease-in-out;
	-moz-transition	  : all .5s ease-in-out;
	-o-transition	  : all .5s ease-in-out;
	-ms-transition	  : all .5s ease-in-out;
	transition		  : all .5s ease-in-out;
}

.bannerCells img{
    width: 75%;
    margin-top: 5%;
}

.bannerCells .text{
	display: table-cell;
    vertical-align: middle;
	color: white;
}

.bannerCells .header{
	font-size: xx-large;
}

.bannerCells .subHeader{
	font-size: x-larger;
	font-weight: 400;
}